* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font: 14px "Roboto", sans-serif;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.App {
  background-color: #232932;
  height: 100vh;
}

.logo {
  margin: 0 auto;
  padding-top: 30px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  width: 170px;
}
